includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    scanFiles:
        - phpstan/stubs/illuminate-foundation-auth-traits.stub
    paths:
        - app
    level: 8
    excludePaths:
        - database/migrations
        - database/seeds
        - tests
        - vendor
        - */*.blade.php
        - storage
        - _ide_helper.php
        - routes/console.php
    checkMissingIterableValueType: false