name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - '*.*.*'
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build-app:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/axelpal/sellerstore-laravel-app
          flavor: |
            latest=true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push app
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ./docker/php/Dockerfile
#          platforms: "linux/amd64,linux/arm64/v8,linux/arm/v7"
  # unit-tests:
  #   runs-on: ubuntu-latest
  #   needs: build-app
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v2
  #     - name: Inject slug/short variables
  #       uses: rlespinasse/github-slug-action@v3.x
  #     - name: Login to GitHub Container Registry
  #       uses: docker/login-action@v1
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.repository_owner }}
  #         password: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Running app with services
  #       run: cp .env.example .env && docker compose -f docker-compose.ci.yml up -d app
  #     - name: Prepare DB
  #       run: ./docker/mysql/db-prepare.sh
  #     - name: Unit tests
  #       run: docker compose -f docker-compose.ci.yml run tests
  #     - name: Stopping all containers
  #       run: docker compose -f docker-compose.ci.yml down
  static-analysis:
    runs-on: ubuntu-latest
    needs: build-app
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Static analysis
        run: docker compose -f docker-compose.ci.yml run phpstan

  build-nginx:
    runs-on: ubuntu-latest
    needs: build-app
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/axelpal/sellerstore-laravel-nginx
          flavor: |
            latest=true
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push nginx
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ./docker/nginx/Dockerfile
#          platforms: "linux/amd64,linux/arm64/v8,linux/arm/v7"
          build-args: |
            APP_IMAGE=ghcr.io/axelpal/sellerstore-laravel-app:${{ env.GITHUB_REF_SLUG }}
